
body
{
    background-color: #fff;
    font-family: 'Times New Roman', Times, serif;
}
#container
{
    margin: auto;
    height:600px;
    width: 1200px;
}
h1
{
    text-align: center;
    margin-top: -50px;
}
#top
{
    background-color: yellowgreen;
    background-color: rgba(120, 120, 120, 0.75);
    width: 1200px;
    height: 150px;
}
#left
{
    float: left;
    background-color: lightblue;
    width: 300px;
    height: 600px;
    margin: auto;
    text-align: center;
}
#right
{
    float: left;
    background-color: #73e2ef;
    width: 900px;
    height: 600px;
    text-align: center;
    
}
img
{
    width: 100px;
    height: 100px;
}
#zdjztop
{
    text-align: left;
}
#mapa
{
   height: 500px;
   width: 800px; 
}
#right1
{
    float: left;
    margin-left: 30px;
}
#rightjpg
{
    height: 300px;
    width: 400px;
}
#right2
{
 float: left;
}
ul
{
    list-style-type: none;
}
